* {
    margin: 0;
    padding: 0;
}

html, body {
    overflow: hidden;
    font-size: .9em;
    height: 100%;
    background: #eeeeee; /* Old browsers */
    background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #cccccc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* IE10+ */
    background: linear-gradient(to bottom, #eeeeee 0%, #cccccc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cccccc', GradientType=0); /* IE6-9 */
}

.header, .footer {
    width: 100%;
    height: 30px;
}

.header ul li {
    display: inline-block;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 3px 4px 0 #000000;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    box-shadow: 0 -3px 4px 0 #000000;
    text-align: center;
    line-height: 30px;
}

.header, .footer {
    background: #8c8c8c; /* Old browsers */
    background: -moz-linear-gradient(top, #8c8c8c 0%, #474747 39%, #4f4f4f 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8c8c8c), color-stop(39%, #474747), color-stop(100%, #4f4f4f)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #8c8c8c 0%, #474747 39%, #4f4f4f 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #8c8c8c 0%, #474747 39%, #4f4f4f 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #8c8c8c 0%, #474747 39%, #4f4f4f 100%); /* IE10+ */
    background: linear-gradient(to bottom, #8c8c8c 0%, #474747 39%, #4f4f4f 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8c8c8c', endColorstr='#4f4f4f', GradientType=0); /* IE6-9 */
}

.main-container {
    margin-top: 30px;
    width: 100%;
    height: 100%;
}

.left-panel {
    padding: 10px 5px 10px 5px;
    width: 200px;
    box-shadow: 4px 0 4px 0 #000000;
    float: left;
    text-align: center;
}

.map-panel {
    float: right;
    padding: 2px;
}

.spacer {
    clear: both;
}

.header li {
    margin: 7px;
}

.header li a {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0 0 white;
    text-decoration: none;
}

.active-menu-item {
    border-bottom: 1px solid white;
}

fieldset legend {
    margin-left: 10px;
}

fieldset {
    padding: 5px;
}

.vehicles-list-container, .track-list-container {
    text-align: left;
}

.vehicles-list-container > ul, .track-list-container > ul {
    list-style: none outside none;
}

#vehicles-list > li, #track-list > li {
    border-bottom: 1px solid black;
    display: inline-block;
    margin: 5px 0;
    line-height: 30px;
    width: 100%;
}

#vehicles-list > li:last-child, #track-list > li:last-child {
    border-bottom: none;
}

#vehicles-list > li > input[type=checkbox], #track-list > li > input[type=checkbox] {
    margin-top: 3px;
}

.vehicles-list-buttons, .track-list-buttons {
    float: right;
    margin-top: 3px;
}

#vehicles-list li > a, #track-list li > a {
    margin-left: 10px;
    font-size: 1.5em;
    color: rgba(0, 0, 0, 0);
    text-shadow: 0 0 black;
}

.vehicles-demo button, .tracks-demo button {
    border: 0px solid black;
    border-radius: 20px 20px 20px 20px;
    font-size: 1em;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 5px;
    background: #606c88;
    background: -moz-linear-gradient(top, #606c88 0%, #3f4c6b 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #606c88), color-stop(100%, #3f4c6b));
    background: -webkit-linear-gradient(top, #606c88 0%, #3f4c6b 100%);
    background: -o-linear-gradient(top, #606c88 0%, #3f4c6b 100%);
    background: -ms-linear-gradient(top, #606c88 0%, #3f4c6b 100%);
    background: linear-gradient(to bottom, #606c88 0%, #3f4c6b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#606c88', endColorstr='#3f4c6b', GradientType=0);
    color: rgba(0, 0, 0, 0);
    text-shadow: 0 0 white;
}

.vehicles-demo button:hover, .tracks-demo button:hover {
    cursor: pointer;
    box-shadow: 2px 0 0 0 white inset, -2px 0 0 0 white inset;
}

.vehicles-demo button:active, .tracks-demo button:active {
    box-shadow: 2px 0 0 0 white inset, -2px 0 0 0 white inset, 0 1px 0 0 white inset, 0 -1px 0 0 white inset;
}

button::-moz-focus-inner {
    border: 0;
}