1) Український;
2) Русский;
3) English;

Український
======================================
OpenLayersTools.Control.addControls(controls) — функція створює  елементи керування.

Параметри:
(object)controls — в об'єкті зберігаються типи елементів та їх параметри для ініціалізації. Обов'язковий параметр в кожному із елементів об'єкту controlType, який вказує на тип елементу, який потрібно добавити.

Вертає:
(array) — функція заповнює масив OpenLayersTools.Control.controls об'єктами створених елементів. Через цей масив можна звертатись до кожного створеного елементу керування в даній карті.
